.file-uploader-div,
.data-download-div {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.styled-select-div {
    margin-bottom: 10px;
}

.styled-select {
    padding: 0.3em 0.6em;
    font-size: 0.8em;
    padding: 0.5em 1em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.download-button-div {
    margin-top: 20px;
}